__pycache*
*.pyc
*.sublime-project
*.sublime-workspace
.python-version
bin/python3.6
lib/python*
\.pydevproject

\.project
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/encodings.xml
.idea/CSCI_466_Programming_Assignments.iml
